{% extends "base.html" %}

{% block content %}


<div class="container col-lg-8">
    <div id="titleBlock">
    <h2>Standup Comedy Recommender</h2>
    <small>Created by Stephen Kaplan (stevejkaplan@gmail.com)</small>
    </div>
    <div class="container row search-bar">
        <span id="description">Describe the type of comedy you'd like to watch, or simply filter by genre.</span>
        <div class="container col-lg-8">
                <form action="/search" autocomplete="off" class="form-horizontal" method="post" accept-charset="utf-8">
                  <div class="form-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search">
                  </div>
                </form>
        </div>
        <div class="container col">

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre Filter
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    </div>


    <div id="recommendations" style="margin-left:15px;">
        <div class="row">
            {% for info in comedy_info %}
            <div class="card" style="width: 13rem; margin: 5px;">
                <img src="{{ info[5] }}" height="280px" style="padding:5px;" alt="{{ info[1] }}">
                <div class="card-body">
                    <h6 class="card-text">{{ info[2] }}</h6>
                    <p>
                        <small>{{ info[3] }}</small><br>
                        <small>({{ info[4] }})</small>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>



{% endblock %}